body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  

  
  .title {
    margin-top: 10%;
    text-align: center;
    font-family: "SugarAndSpice";
    font-size: 4rem;
  }
.logo-link:hover{
    height: 20rem;
    opacity: 0.5;
    .logo-link{
    height: 20rem;
}
}
.logo-link{
    height: 20rem;
}
.pics{
    margin: 0;
    height: 0.5rem;
}
